*{
    margin: 0;
    padding: 0;
}
body{
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }


}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  height: 50px;
  /* position: sticky;
  z-index: 2;
  top: 0; */
}
.navbar-links{
  display: flex;
  column-gap: 20px;
  list-style: none;
  font-size: 20px;
  position: relative;
  right: 20px;

}
.navbar-link{
  text-decoration: none;



}
.navbar-link a{
  text-decoration: none;
  color: #1D232c;

}
.navbar-link a:hover{
  color: rgb(37, 16, 196);
}
.navbar-link:hover{
  text-decoration: underline;

}
.navbar-menu-toggle{
  display: none;
}

/*side-nav-bar   side-navbar-links  side-navbar-link*/
.side-nav-bar{
  background-color: #1D232c;
  width: 30%;
  height: 100%;
  position: fixed;
  left: -60%;
  padding: 20px;
  color: white;
  /* display: none; */
  transition: 1.5s;


}
.side-navbar-link{
  margin-bottom: 30px;

  list-style: none;


}
.side-navbar-links a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.side-navbar-links{
  text-decoration: none;

}
.side-navbar-links a:hover{
  color: yellow;
  text-decoration: underline white;
}
/* header secction */
.header-section{
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px;
  margin-left: 40px;
}
.shop-btn{
  padding:10px 20px;
  margin-top: 20px;
  background-color: #1D232c;
  color: white;
  border-radius: 40px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 0 7px #999;

}
  .shop-btn:active{
    box-shadow: 0 4px #666;
    transform: translateY(4px);
    color: greenyellow;
  }


.heading-sec{
  padding: 10px;
  font-size: 30px;
}
.heading-sec p{
  margin-top: 10px;
}
.header-image{
 border-radius: 20px;
}
hr {
  border: none; /* Remove the default line */
  height: 2px; /* Set the desired thickness */
  background-color: black; /* Set the color */
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 10px;
  margin-top: 40px;
}

/*service*/
.service{
  padding: 20px;

}
.service-container-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-container-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  flex-grow: 1;
}
.service-container-2 div{
  background-color: rgb(192, 232, 219);
  padding: 15px;
  border-radius: 20px;

}
/*New Arrival*/
.new-arrival{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.new-arrival-container{
  position: relative;
  flex-basis: 20%;

  margin-bottom: 15px;
margin-left: 10px;

}
.new-arrival-container img{
  border-radius: 10px;
}
.new-arrival button:active{
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

.new-arrival button{
  padding: 10px 10px;
  border-radius: 10px;

  margin-top: 10px;
  position: absolute;
  top: 42%;
  left: 20%;
  border: none;
  font-size: 20px;

  color: #1D232c;
    background-color: #f6f3ed;
    margin: 1em 0;
  }
  .new-arrival button:hover{
    background-color: aqua;
  }



/*News login*/
.news-login{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 20px;


}
.news-login p{
  font-size: 20px;
  padding: 8px;
  margin-bottom: 10px;
}
.news-login h1{
  font-size: 40px;
}
#Email{
  width: 70%;
  height: 40px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  font-size: 20px;
  padding: 10px;
  border-width: 3px;


}
.news-login button{
  background-color: #1D232c;
  color: white;
  border-radius: 10px;
  padding: 15px;
  border: none;
  margin: 20px;
font-size: 15px;
}
.news-login button:hover{
  background-color: red;
  color: white;
  box-shadow: 0 7px #999;

}
.news-login button:active{
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}


/* our details*/
.my-details{
  background-color: #1D232c;
  padding: 30px;
  color: whitesmoke;
  margin-top: 10px;
}
.my-details h1{
  font-size: 30px;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.my-details h1:hover{
  color: rgb(170, 170, 23);
}
.my-details p{
  font-size: 18px;
  margin: 10px;
}
.my-details div{
  margin: 10px;
  font-size: 20px;

}
.my-details i{
  margin: 5px;
  font-size: 30px;
}
.website:hover{
color: rgb(202, 202, 14);
}
#li-1:hover{
  color: rgb(189, 29, 66);

}
#li-2:hover{
  color: rgb(35, 181, 221);

}
#li-3:hover{
  color: rgb(46, 59, 244);

}

/* Products   product-section  product-search  search products product-box - img,p */

.product-section{
margin-top: 40px;
margin-left: 30px;
}
.product-search{
display: flex;
  padding: 10px;
  margin-bottom: 50px;

  width: 70%;
  border: solid black 2px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-radius: 20px;
}
.product-search input{
  border: none;
  background: transparent;
  width: 100%;
  font-size: 20px;
}
.product-search input:focus{
  outline: none;
}
.product-search i{
  font-size: 30px;
}
#products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 20px;
  gap: 10px;
}
.product-box{
text-align: center;
margin: 10px;

flex-basis: 20%;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product-box img{
  border-radius: 10px;
}

/* contact */

.contactArea{
  background-color: #1D232c;
  margin: 40px 10%;
  padding: 30px;
  border-radius: 10px;
  flex-wrap: wrap;


}
.formContact{
  display: flex;
  background-color: #1D232c;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 10px;

}
.formContact h2{
  margin-bottom: 10px;
}
.formContact h2:hover{
  color: yellow;
}

.formContact h4 {
  margin: 5px;
  margin-top: 10px;
}
.formContact input{
  margin: 5px;
  border-radius: 10px;
  height: 50px;
  border: none;
  padding: 10px;
  font-size: 20px;
  width: 95%;
}
.formContact textarea{
  margin: 5px;
  height: 100px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  padding: 10px;
  width: 95%;
}
.formContact button{
  width: 100px;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(23, 23, 219);
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.formContact button:hover{
  color: green;
}

i:hover{
  color: rgb(153, 153, 18);

}



/* Media Query */

@media screen and (max-width:700px){
  .navbar-menu-toggle{
    display: block;
  }
  .navbar-links{
    display: none;
  }
  .header-image{
    display: none;
  }
  .service-container-1{
    display: none;
  }
  .service-container-2{
    flex-direction: column;
  }
  }
  @media screen and (max-width:330px){
    .navbar-menu-toggle{
      display: block;
    }
    .navbar-links{
      display: none;
    }
    .header-image{
      display: none;
    }
    .service-container-1{
      display: none;
    }
    .service-container-2{
      flex-direction: column;
      flex-basis: 100%;


    }
  }
